@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  @apply border-2 p-1;
}

input:focus,
textarea:focus {
  @apply border-black;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

textarea:focus + label {
  @apply font-bold;
}

label:focus-within {
  @apply font-bold;
}

th {
  @apply flex pr-2;
}

.SubText {
  @apply text-sm;
}
