.Button {
  @apply font-bold bg-black text-white transition-shadow duration-300 py-2 px-4;
  box-shadow: -5px 5px gray;
}

.Button:hover {
  box-shadow: none;
}

.Button.Ghost {
  @apply font-bold bg-white text-black;
  box-shadow: -5px 5px black;
}

.Button.Ghost:hover {
  box-shadow: none;
}
